.container-learning{
    width: 100%;
}

.title-learning{
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 48px 0 0 0 ;
}
.title-learning div{
    width: 100%;
    max-width: 101.6rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    padding-bottom: 2.4rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: kanit;
}

.category-laerning{
    background-color: #000;
}

.link-learning{
    display: flex;
    gap: 15px;
    align-items: center;
    max-width: 101.6rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    max-width: 101.6rem;
    overflow: hidden;
}
.link-learning h2 a{
    color: #fff;

}

.whith{
    max-width: 101.6rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    max-width: 101.6rem;
    overflow: hidden;
}

.activelear{
    border-bottom: 3px solid #fff;
}
.section-learning{
    margin-top: 30px;
    margin-bottom: 3.2rem;

}

.diplaylear{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.diplaylear .section-m{
    display: flex;
    align-items: end;
    gap: 15px;
}

.fonth2{
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.4rem;
    margin-bottom: 0.8rem;  
}

.section-link{
    border: 1px solid #000;
    padding: 8px;
    font-family: kanit;
    outline: none;
    cursor: pointer;
    padding-left: 0;
}

.btn-learning{
    padding-bottom: 8px;
}
.btn-learning button{
    color: #1c1d1f;
    cursor: not-allowed;
    opacity: .5;
    border: 0;
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
}
.inpt-learning{
    display: flex;
    align-items: center;
}

.inpt-learning input{
width: 190px;
height: 40px;
border: 1px solid #000;
outline: none;
padding-left: 15px;
font-family: kanit;
}
.inpt-learning button{
height: 40px;
width: 40px;
border: 0;
background-color: #000;
color: #fff;
font-size: 15px;
cursor: pointer;
}
.inpt-learning button:hover{
    background-color:#3e4143;
}
 .stars .full  {
    color: #e59819;
    font-size: 12px;
}

.dpl-m-learning{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.product-learning{
    width: 230px;
    height: 256px;

}
.product-learning .name-learning span{
    font-size: 1.6rem;
   white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.product-learning .name-learning p{
    font-size: 1.1rem;
   white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
}

.product-learning img{
    border: 1px solid #d5e1e8;
}

.displ{
    display: flex;
    justify-content: space-between;
}
.displ span{
  font-size: 13px;
}